.header{
  text-align: center;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  
}
.header>h1{
  margin: 31px 31px;
}
.number{
  
  color: #fff;
  display:flex;
  flex-flow: column ;
  align-items:  flex-start;
}
.text{
  
  color: #fff;
  display:flex;
  flex-flow: column ;
  
  margin-left: 30px;
}
.input{
  display: flex;
  flex-flow: row;
  margin-top: 30px;
}
.option{
height: 30px;
}
.output{
  background-color: #303030;
  margin-top: 30px;
  border-radius: 6px;
  color: #fff;
}
p{
  padding: 25px;
  text-align:start
}